from django.conf import settings

UBER_CLIENT_ID = ''
UBER_CLIENT_SECRET = ''
UBER_SERVER_TOKEN = ''

UBER_LOGIN_URL = 'https://login.uber.com/oauth/v2/authorize'
UBER_AUTH_URL = 'https://login.uber.com/oauth/v2/token'

API_URL = 'https://sandbox-api.uber.com'
REDIRECT_URI = 'http://localhost:8000/ride/action'

if not settings.DEBUG:
    API_URL = 'https://api.uber.com'
    REDIRECT_URI = 'https://uber-online.herokuapp.com/ride/action'
