{% extends "authed_base.html" %}
{% block content %}
<script>
    function PopulateLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function (loc) {
                var lat = document.getElementById('id_from_latitude');
                lat.value = loc.coords.latitude.toFixed(6);
                var lng = document.getElementById('id_from_longitude');
                lng.value = loc.coords.longitude.toFixed(6);
                
            });
        } 
    }
</script>
<h1 class='page-heading'>Request a ride</h1>
<h4 class='page-sub-heading'>My location</h4>
<div class='request-form'>
    <form method='post' action'/ride/confirm'>
        {% csrf_token %}
        {{ form.as_p }}
        <div class='button'>
            <a href='javascript:;' onclick='PopulateLocation()'>Refresh location</a>
        </div>
        <div class='submit-button'>
            <input type='submit' value='Check for rides' />
        </div>
    </form>
</div>
<script>
    PopulateLocation();
</script>
{% endblock %}
